<div class="min-h-screen bg-background">
  <nav class="app-nav">
    <div class="app-title">
      <span class="material-symbol">flight</span>
      GOL Analytics
    </div>
    <div class="app-tabs">
      <button 
          routerLink="/bookings"
          routerLinkActive="active"
          class="app-tab"
          [disabled]="isLoading"
        >
          Booking Management
    </button>
    <button 
      routerLink="/dashboard"
      routerLinkActive="active"
      class="app-tab"
      [disabled]="isLoading"
    >
      Dashboard KPIs
    </button>
    </div>
  </nav>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>