<div class="min-h-screen bg-background">
  <nav class="app-nav">
    <div class="app-title">
      <span class="material-symbol">flight</span>
      GOL Analytics
    </div>
    <div class="app-tabs">
      <button 
      [class.active]="activeTab === 'bookings'"
      (click)="setActiveTab('bookings')"
      [routerLink]="['/bookings']"
      class="app-tab">
        Booking Management
      </button>
      <button 
      [class.active]="activeTab === 'dashboard'"
      (click)="setActiveTab('dashboard')"
      [routerLink]="['/dashboard']"
       class="app-tab">
        Dashboard KPIs
      </button>
    </div>
  </nav>
  <main class="main-content">
    @if(activeTab === 'bookings'){
      <app-bookings></app-bookings>
    }@else if(activeTab === 'dashboard') {
      <app-dashboard></app-dashboard>
    }
  </main>
</div>